@import url("https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
    background: rgb(228, 228, 230);
}

#container > h1 {
    font-family: 'Rubik One', sans-serif;
    font-size: 20px;
    text-transform: uppercase;  
    background: linear-gradient(45deg, #978f8f 33%, #c11111 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin-right: 20px;
    margin-top: 10px;
}

#table {
    border-color: gray;
}

.cell-breakword {
    word-wrap: break-word;
    max-width: 370px;
}

/* LOADING SPINNER */
#bg-spinner {
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(1,1,1,0,7);
}

#position-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid #d3d3d3;
    border-top: 6px solid #007bff;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.table-responsive{
    overflow-x: initial;
}

thead
 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: silver;
}
