<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../static/css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartScraper</title>
</head>
<body class="coddy">
  <div class="body"> 
    <div class="name">
      <h1>SmartScraper</h1>
    </div>
      <div>
        <form action="search" method="get">
          <div class="searchget">
            <div class="srchget">
              <input class="form-input" type="text" placeholder="Device" id="query" name="query" required>
              <button class="btn" type="submit" value="Search">Search</button>
            </div>
          </div>
        </form>
        <div class="srch">
          <form action="search/" method="post" enctype="multipart/form-data">
            <input class="file" type="file" title="Upload excel file" name="excel_file" required>
            <input class="btn2" type="submit" value="Upload">
          </form>
        </div>
      </div>
    </div>
  <div>
    <form action="{% url 'export_devices_to_xlsx' %}" method="get">
      <button class="exportdev">Export to XLSX</button>
    </form>
  </div>
  <table id="table" class="table">
    <tr>
        <th>Device</th>
        <th>MTTR</th>
        <th>MTBF</th>
        <th>FR</th>
        <th>FR in storage mode</th>
        <th>Storage time</th>
        <th>Minimal recource</th>
        <th>Gamma percentage resource</th>
        <th>Avg resource</th>
        <th>Avg lifetime</th>
        <th>Recovery intensity</th>
        <th>System reliability</th>
        <th>Score</th>
        <th>Link</th>
    </tr>
    {% for item in devices %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.mttr }}</td>
        <td>{{ item.mtbf }}</td>
        <td>{{ item.failure_rate }}</td>
        <td>{{ item.failure_rate_in_storage_mode }}</td>
        <td>{{ item.storage_time }}</td>
        <td>{{ item.minimal_resource }}</td>
        <td>{{ item.gamma_percentage_resource }}</td>
        <td>{{ item.average_resource }}</td>
        <td>{{ item.average_lifetime }}</td>
        <td>{{ item.recovery_intensity }}</td>
        <td>{{ item.system_reliability }}</td>
        <td>{{ item.score }}</td>
        <td>{{ item.link }}</td>
    </tr>
    {% endfor %}
</table>
<footer class="footer"><a href="about">About</a></footer>
</body>
</html>
