<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../static/css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartScraper</title>
</head>
<body class="body"> 
  <div class="name">
    <h1>SmartScraper</h1>
  </div>
  <div>
    <div>
      <form action="search" method="get">
        <div class="searchget">
          <div class="srchget">
            <input class="form-input" type="text" placeholder="Device" id="query" name="query" required>
            <button class="btn" type="submit" value="Search">Search</button>
          </div>
        </div>
      </form>
      <div class="srch">
        <form action="search/" method="post" enctype="multipart/form-data">
          <input class="file" type="file" title="Upload excel file" name="excel_file" required>
          <input class="btn2" type="submit" value="Upload">
        </form>
      </div>
    </div>
  </div>
<footer class="footer"><a href="about">About</a></footer>
</body>
</html>
